<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Valor</th>
    <th>Data de Vencimento</th>
    <th>Nome</th>
    <th>CPF/CNPJ</th>
    <th>Estado</th>
    <th>Cidade</th>
    <th>CEP</th>
    <th>Endereço</th>
    <th>Bairro</th>
  </tr>
  </thead>
  <tbody>
  <% @billets.each do |billet| %>
    <tr>
      <td><%= billet['status'] %></td>
      <td><%= billet['amount'] %></td>
      <td><%= billet['expire_at'] %></td>
      <td><%= billet['customer_person_name'] %></td>
      <td><%= billet['customer_cnpj_cpf'] %></td>
      <td><%= billet['customer_state'] %></td>
      <td><%= billet['customer_city_name'] %></td>
      <td><%= billet['customer_zipcode'] %></td>
      <td><%= billet['customer_address'] %></td>
      <td><%= billet['customer_neighborhood'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
