<table>
  <thead>
  <tr>
    <th><%= t 'bank_billets.bank_billet.status' %></th>
    <th><%= t 'bank_billets.bank_billet.value' %></th>
    <th><%= t 'bank_billets.bank_billet.due_date' %></th>
    <th><%= t 'bank_billets.bank_billet.name' %></th>
    <th><%= t 'bank_billets.bank_billet.cpf_cnpj' %></th>
    <th><%= t 'bank_billets.bank_billet.state' %></th>
    <th><%= t 'bank_billets.bank_billet.city' %></th>
    <th><%= t 'bank_billets.bank_billet.cep' %></th>
    <th><%= t 'bank_billets.bank_billet.address' %></th>
    <th><%= t 'bank_billets.bank_billet.neighborhood' %></th>
  </tr>
  </thead>
  <tbody>
  <% @billets.each do |billet| %>
    <tr>
      <td><%= billet['status'] %></td>
      <td><%= billet['amount'] %></td>
      <td><%= billet['expire_at'] %></td>
      <td><%= billet['customer_person_name'] %></td>
      <td><%= billet['customer_cnpj_cpf'] %></td>
      <td><%= billet['customer_state'] %></td>
      <td><%= billet['customer_city_name'] %></td>
      <td><%= billet['customer_zipcode'] %></td>
      <td><%= billet['customer_address'] %></td>
      <td><%= billet['customer_neighborhood'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
