<tr>
  <td><%= billet['status'] %></td>
  <td><%= billet['amount'] %></td>
  <td><%= billet['expire_at'] %></td>
  <td><%= billet['customer_person_name'] %></td>
  <td><%= billet['customer_cnpj_cpf'] %></td>
  <td><%= billet['customer_state'] %></td>
  <td><%= billet['customer_city_name'] %></td>
  <td><%= billet['customer_zipcode'] %></td>
  <td><%= billet['customer_address'] %></td>
  <td><%= billet['customer_neighborhood'] %></td>
  <td><%= link_to t('.edit'), edit_bank_billet_path(billet['id']) %></td>
  <td><%= link_to t('.cancel'), bank_billet_path(billet['id']),
                  data: { turbo_method: :delete, turbo_confirm: t('.cancel_confirm') } %></td>
</tr>
