<tr>
  <td><%= billet['status'] %></td>
  <td><%= billet['amount'] %></td>
  <td><%= billet['expire_at'] %></td>
  <td><%= billet['customer_person_name'] %></td>
  <td><%= billet['customer_cnpj_cpf'] %></td>
  <td><%= billet['customer_state'] %></td>
  <td><%= billet['customer_city_name'] %></td>
  <td><%= billet['customer_zipcode'] %></td>
  <td><%= billet['customer_address'] %></td>
  <td><%= billet['customer_neighborhood'] %></td>
  <td><%= link_to 'editar', edit_bank_billet_path(billet['id']) %></td>
  <td><%= link_to 'Cancelar', bank_billet_path(billet['id']),
                  data: { turbo_method: :delete, turbo_confirm: 'Tem certeza que deseja cancelar esse boleto?' } %></td>
</tr>
