<%= form_with url: new_bank_billet_path, method: :post do |form| %>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 'any' %>
  </div>

  <div>
    <%= form.label :expire_at %>
    <%= form.date_field :expire_at %>
  </div>

  <div>
    <%= form.label :customer_person_name %>
    <%= form.text_field :customer_person_name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :customer_cnpj_cpf %>
    <%= form.text_field :customer_cnpj_cpf %>
  </div>

  <div>
    <%= form.label :customer_state %>
    <%= form.text_field :customer_state %>
  </div>

  <div>
    <%= form.label :customer_city_name %>
    <%= form.text_field :customer_city_name %>
  </div>

  <div>
    <%= form.label :customer_zipcode %>
    <%= form.text_field :customer_zipcode %>
  </div>

  <div>
    <%= form.label :customer_address %>
    <%= form.text_field :customer_address %>
  </div>

  <div>
    <%= form.label :customer_neighborhood %>
    <%= form.text_field :customer_neighborhood %>
  </div>

  <%= form.submit %>
<% end %>
